.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-fMdufzmmiEO01S);
  min-width: 0;
  min-height: 0;
}
.freeBox__nmZrM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__nmZrM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__nmZrM > :global(.__wab_flex-container) > *,
.freeBox__nmZrM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nmZrM > :global(.__wab_flex-container) > picture > img,
.freeBox__nmZrM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.navbar__hT3Wo:global(.__wab_instance) {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.5;
  display: flex;
}
.navbar___0TjoU:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  opacity: 0.5;
  display: flex;
}
.container:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__pwQ5K {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__pwQ5K > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pwQ5K > :global(.__wab_flex-container) > *,
.freeBox__pwQ5K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pwQ5K > :global(.__wab_flex-container) > picture > img,
.freeBox__pwQ5K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.spacer2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 0px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.img__nNwY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 600vh;
  height: 400px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__nNwY > picture > img {
  object-fit: cover;
}
.img__nNwY > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__w8Feh {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  min-width: 0;
}
.spacer3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.contextColumns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.contextColumns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.contextColumns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 2 / 12);
}
.contextColumns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 10 / 12);
}
.contextColumns > :global(.__wab_flex-container) > *,
.contextColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contextColumns > :global(.__wab_flex-container) > picture > img,
.contextColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contextColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contextColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contextColumns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.titleStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__axxQe {
  color: var(--token-E2vRxBs6XnNvEU);
  font-weight: 500;
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__axxQe {
    text-align: center;
  }
}
.detailsColumns {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.row1 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 12px) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 12px) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 12px) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > *,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row1 > :global(.__wab_flex-container) > picture > img,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .row1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 12px) * 12 / 12);
  }
}
.column__vfDv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__e9VzP {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__kdu3U {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__iXIxx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__dZtdO {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wQi4B {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__lCnVt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__rBlPj {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__bjgW {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.row2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.row2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.row2 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.row2 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.row2 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.row2 > :global(.__wab_flex-container) > *,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row2 > :global(.__wab_flex-container) > picture > img,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.column__e7IIv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__gIlMv {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__guPht {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___6RPo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___924Pz {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wMtWh {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___3U3M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.spacer5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.briefColumns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.briefColumns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.briefColumns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 2 / 12);
}
.briefColumns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 10 / 12);
}
.briefColumns > :global(.__wab_flex-container) > *,
.briefColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.briefColumns > :global(.__wab_flex-container) > picture > img,
.briefColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .briefColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .briefColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .briefColumns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.titleStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__cUcHe {
  color: var(--token-E2vRxBs6XnNvEU);
  font-weight: 500;
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cUcHe {
    text-align: center;
  }
}
.column__cxvU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___6Yc2Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.text___1T6Qi {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__fzcG {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__rpSr {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul___2IgAt {
  display: flex;
  flex-direction: column;
}
.ul__gpoSj {
  display: flex;
  flex-direction: column;
}
.text__sYrAk {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  position: relative;
}
.text__u3Ro {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.img__xrzDk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__xrzDk > picture > img {
  object-fit: cover;
}
.img__xrzDk > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__itEl9 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__ntSec {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__eXuis {
  display: flex;
  flex-direction: column;
}
.ul__xlfZb {
  display: flex;
  flex-direction: column;
}
.text__bK3Z2 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__cpDyr {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___53Tgo {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  position: relative;
}
.spacer11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.process:global(.__wab_instance) {
  position: relative;
}
.text__yii6V {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___7Kjam {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__bqEmz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__bqEmz > picture > img {
  object-fit: cover;
}
.img__bqEmz > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__aWpP7 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__oJJaT {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  font-style: normal;
}
.img__eVQbr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__eVQbr > picture > img {
  object-fit: cover;
}
.img__eVQbr > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__yaXl7 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__oM38 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__c37Pm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__c37Pm > picture > img {
  object-fit: cover;
}
.img__c37Pm > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__ikp2K {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__bgARk {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  font-style: normal;
}
.text__vq0I8 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__cwLiI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__cwLiI > picture > img {
  object-fit: cover;
}
.img__cwLiI > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__gDozl {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__gg1O {
  display: flex;
  flex-direction: column;
}
.text___0PoWu {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___3CMmb {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__jtGie {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__jtGie > picture > img {
  object-fit: cover;
}
.img__jtGie > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__sOqHs {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__s0Mbz {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__qyGtu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__qyGtu > picture > img {
  object-fit: cover;
}
.img__qyGtu > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__cYaSh {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__xsEs9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__xsEs9 > picture > img {
  object-fit: cover;
}
.img__xsEs9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.spacer10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.result:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__gkLpc {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___4Hekc {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__n9KPk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__n9KPk > picture > img {
  object-fit: cover;
}
.img__n9KPk > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__eM32O {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__jl4W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__jl4W > picture > img {
  object-fit: cover;
}
.img__jl4W > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__rImYu {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img___6DxG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img___6DxG > picture > img {
  object-fit: cover;
}
.img___6DxG > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__eGpEv {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__jwzNw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 4px;
}
.img__jwzNw > picture > img {
  object-fit: cover;
}
.img__jwzNw > .__wab_img-spacer > img {
  object-fit: cover;
}
.spacer9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-LboZFJjHAy9fIh);
  min-width: 0;
  padding: 140px 0px 80px;
}
.footerColumns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.footerColumns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.footerColumns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.footerColumns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.footerColumns > :global(.__wab_flex-container) > *,
.footerColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerColumns > :global(.__wab_flex-container) > picture > img,
.footerColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns > :global(.__wab_flex-container) > *,
  .footerColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .footerColumns > :global(.__wab_flex-container) > picture > img,
  .footerColumns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.freeBox__xkxBi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-fMdufzmmiEO01S);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__xkxBi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__xkxBi > :global(.__wab_flex-container) > *,
.freeBox__xkxBi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xkxBi > :global(.__wab_flex-container) > picture > img,
.freeBox__xkxBi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.img___98T6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 350px;
  flex-shrink: 0;
  border-radius: 8px 8px 0px 0px;
}
.img___98T6 > picture > img {
  object-fit: cover;
}
.img___98T6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__bvGwc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-fMdufzmmiEO01S);
  margin-top: calc(0px + 0px) !important;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.freeBox__bvGwc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bvGwc > :global(.__wab_flex-container) > *,
.freeBox__bvGwc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bvGwc > :global(.__wab_flex-container) > picture > img,
.freeBox__bvGwc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__pcGj1 {
  color: var(--token-E2vRxBs6XnNvEU);
  font-weight: 500;
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.span {
  color: var(--token-LboZFJjHAy9fIh);
}
.text__nqxcD {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__hV5H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  margin-top: calc(12px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.link__ifVzW {
  position: relative;
  display: flex;
}
.btn:global(.__wab_instance) {
  max-width: 100%;
}
.ctaColumn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.ctaColumn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.ctaColumn > :global(.__wab_flex-container) > *,
.ctaColumn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ctaColumn > :global(.__wab_flex-container) > picture > img,
.ctaColumn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__ytvnJ {
  color: var(--token-hsJTgSf3WRZZ2M);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ytvnJ {
    color: var(--token-hsJTgSf3WRZZ2M);
    font-family: var(--token-qyViDwqROhdqnz);
    font-size: 24px;
    font-weight: 500;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.text__pl2C {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-fMdufzmmiEO01S);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__j3LjG {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-LboZFJjHAy9fIh);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link__kr6Dk {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-hsJTgSf3WRZZ2M);
  height: auto;
}
.text__v3HAy {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-hsJTgSf3WRZZ2M);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.link__euZxw {
  color: var(--token-hsJTgSf3WRZZ2M);
}
.bottomPage:global(.__wab_instance) {
  position: relative;
}
