.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  padding: 0px;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  color: var(--token-42gScezBOc_iqF);
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
