.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-fMdufzmmiEO01S);
  min-width: 0;
  min-height: 0;
}
.freeBox__lwmay {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__lwmay > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__lwmay > :global(.__wab_flex-container) > *,
.freeBox__lwmay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lwmay > :global(.__wab_flex-container) > picture > img,
.freeBox__lwmay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.navbar__zhWzl:global(.__wab_instance) {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.5;
  display: flex;
}
.navbar__vjgFc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  opacity: 0.5;
  display: flex;
}
.container:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__c2Uu5 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__c2Uu5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__c2Uu5 > :global(.__wab_flex-container) > *,
.freeBox__c2Uu5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c2Uu5 > :global(.__wab_flex-container) > picture > img,
.freeBox__c2Uu5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.spacer2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 0px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.img__aNhpS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 600vh;
  height: 400px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__aNhpS > picture > img {
  object-fit: cover;
}
.img__aNhpS > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__tddv8 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  min-width: 0;
}
.spacer3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.contextColumns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.contextColumns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.contextColumns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 2 / 12);
}
.contextColumns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 10 / 12);
}
.contextColumns > :global(.__wab_flex-container) > *,
.contextColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contextColumns > :global(.__wab_flex-container) > picture > img,
.contextColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contextColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contextColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contextColumns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.titleStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__dp14 {
  color: var(--token-E2vRxBs6XnNvEU);
  font-weight: 500;
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dp14 {
    text-align: center;
  }
}
.detailsColumns {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row1 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.row1 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.row1 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ib013 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__ip4Qf {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__m6MgU {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__aJbY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__nrL2G {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__mZ9Gp {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__lEwtU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__nwmYd {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__dVTx {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row2 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.row2 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.row2 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pxvUq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__fns7H {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__o52Vi {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___6L6Tr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__gRuWn {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__zplak {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___9JsmT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.spacer5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.briefColumns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.briefColumns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.briefColumns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 2 / 12);
}
.briefColumns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 10 / 12);
}
.briefColumns > :global(.__wab_flex-container) > *,
.briefColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.briefColumns > :global(.__wab_flex-container) > picture > img,
.briefColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .briefColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .briefColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .briefColumns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.titleStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text___3FdIi {
  color: var(--token-E2vRxBs6XnNvEU);
  font-weight: 500;
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3FdIi {
    text-align: center;
  }
}
.column__aqBvx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___0ZoIr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.text___3St22 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___5NyD {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.span__bFiMu {
  color: var(--token-E2vRxBs6XnNvEU);
}
.span__c46Hn {
  color: var(--token-E2vRxBs6XnNvEU);
}
.spacer11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.process:global(.__wab_instance) {
  position: relative;
}
.text__wkoRs {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___7Kjam {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__bqEmz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__bqEmz > picture > img {
  object-fit: cover;
}
.img__bqEmz > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__pJbIf {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__tj3EW {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__o1LCp {
  display: flex;
  flex-direction: column;
}
.ul__tvnBv {
  display: flex;
  flex-direction: column;
}
.text__msDiu {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__fm0DD {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iRe7 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__tskY7 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.spacer8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___3Hl7 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__zlzQv {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.img__t0Lal {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__t0Lal > picture > img {
  object-fit: cover;
}
.img__t0Lal > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__hjnSb {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__x54Dj {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul___8AvuB {
  display: flex;
  flex-direction: column;
}
.ul___09Rt7 {
  display: flex;
  flex-direction: column;
}
.text__vkBT {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__nyKou {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.img__acV9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__acV9 > picture > img {
  object-fit: cover;
}
.img__acV9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___91LDa {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gHcTj {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__lQ7N2 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__hqMpX {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rvPo {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.img__yFroK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__yFroK > picture > img {
  object-fit: cover;
}
.img__yFroK > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__t9Thd {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___5Uoev {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__evXgV {
  display: flex;
  flex-direction: column;
}
.li__yPwm {
  width: auto;
}
.li___82SLv {
  margin-left: 0px;
}
.spacer7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__d9RfA {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__vdh7J {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.img___7MqLg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img___7MqLg > picture > img {
  object-fit: cover;
}
.img___7MqLg > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__dmxbE {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.spacer10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.result:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___9Wng {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__eroVa {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jbTFu {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__vKkIq {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__ksWnx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__ksWnx > picture > img {
  object-fit: cover;
}
.img__ksWnx > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__ntutm {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__m0Su5 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__fcQro {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__dmFrL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__dmFrL > picture > img {
  object-fit: cover;
}
.img__dmFrL > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__ew8Vf {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__eT8KB {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.img__gQnf3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__gQnf3 > picture > img {
  object-fit: cover;
}
.img__gQnf3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__fj6Sj {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__uGCyF {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iwPll {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gH68A {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__dznV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__dznV > picture > img {
  object-fit: cover;
}
.img__dznV > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__cBusi {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text___1WtyO {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__xqg0D {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__o7L {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__npKtE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__npKtE > picture > img {
  object-fit: cover;
}
.img__npKtE > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__j66Z8 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.spacer9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.projectPart:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__pvEKq {
  width: auto;
  padding-right: 0px;
}
.text__nV4Ue {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.img__rgL4M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__rgL4M > picture > img {
  object-fit: cover;
}
.img__rgL4M > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__fF6Zi {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__tpy7Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__tpy7Z > picture > img {
  object-fit: cover;
}
.img__tpy7Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__daR8 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__nciWf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__nciWf > picture > img {
  object-fit: cover;
}
.img__nciWf > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__h3Zb6 {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___1ZGw0 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__cGtN {
  color: var(--token-LboZFJjHAy9fIh);
  font-family: var(--token-qyViDwqROhdqnz);
  font-weight: 400;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__solt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.img__solt > picture > img {
  object-fit: cover;
}
.img__solt > .__wab_img-spacer > img {
  object-fit: cover;
}
.spacer12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-LboZFJjHAy9fIh);
  min-width: 0;
  padding: 140px 0px 80px;
}
.footerColumns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.footerColumns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.footerColumns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.footerColumns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.footerColumns > :global(.__wab_flex-container) > *,
.footerColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerColumns > :global(.__wab_flex-container) > picture > img,
.footerColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerColumns > :global(.__wab_flex-container) > *,
  .footerColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .footerColumns > :global(.__wab_flex-container) > picture > img,
  .footerColumns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.freeBox__wm3Wi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-fMdufzmmiEO01S);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__wm3Wi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__wm3Wi > :global(.__wab_flex-container) > *,
.freeBox__wm3Wi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wm3Wi > :global(.__wab_flex-container) > picture > img,
.freeBox__wm3Wi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.img__a0PqN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 350px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px 8px 0px 0px;
}
.img__a0PqN > picture > img {
  object-fit: cover;
}
.img__a0PqN > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__wSt78 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-fMdufzmmiEO01S);
  margin-top: calc(0px + 0px) !important;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.freeBox__wSt78 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__wSt78 > :global(.__wab_flex-container) > *,
.freeBox__wSt78 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wSt78 > :global(.__wab_flex-container) > picture > img,
.freeBox__wSt78
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__lq7Sj {
  color: var(--token-E2vRxBs6XnNvEU);
  font-weight: 500;
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.span__oz7 {
  color: var(--token-LboZFJjHAy9fIh);
}
.text___4CQd {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-42gScezBOc_iqF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__oxHiH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  margin-top: calc(12px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.link__omAt2 {
  position: relative;
  display: flex;
}
.btn:global(.__wab_instance) {
  max-width: 100%;
}
.ctaColumn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.ctaColumn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.ctaColumn > :global(.__wab_flex-container) > *,
.ctaColumn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ctaColumn > :global(.__wab_flex-container) > picture > img,
.ctaColumn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__lawBq {
  color: var(--token-hsJTgSf3WRZZ2M);
  font-family: var(--token-qyViDwqROhdqnz);
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lawBq {
    color: var(--token-hsJTgSf3WRZZ2M);
    font-family: var(--token-qyViDwqROhdqnz);
    font-size: 24px;
    font-weight: 500;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.text__a69M1 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-fMdufzmmiEO01S);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__dElF4 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-LboZFJjHAy9fIh);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.link__sMx1J {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-hsJTgSf3WRZZ2M);
  height: auto;
}
.text___0MPv8 {
  font-size: 20px;
  font-family: var(--token-qyViDwqROhdqnz);
  color: var(--token-hsJTgSf3WRZZ2M);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.link__wJdpM {
  color: var(--token-hsJTgSf3WRZZ2M);
}
.bottomPage:global(.__wab_instance) {
  position: relative;
}
